*.gz
*.zip
.idea/sshConfigs.xml
.data/
__pycache__/
#dataset_fm.
#figure/
#final_results/
#pytorch-cifar/
#Results/
#saved_model/
#slurm/
#vgg-face.pytorch/
#vgg_face_torch/
#checkpoints/
#unused_function/
#content/
#jupyter/
#Reyad_Model/
#tmp_directory/
#deepvenom_script.py
#deepvenom_slurm.sh
#SP24.ipynb